$dark-blue: #000039;

.Footer {
    background-color: $dark-blue;
    color: white;
    display: flex;
    grid-auto-flow: column;
    grid-template-columns: auto;
    padding: 16px 32px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      padding: 16px 32px;
      margin-top: auto;
    }
  }

.Footer a {
  color: inherit;
  text-decoration: none;
}

.Footer .row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Footer li {
  text-decoration: none;
}

.Footer ul {
  list-style: none;
  text-align: left;
}

.Footer .row .header {
  font-weight: bold;
  padding-bottom: 16px;
  word-break: normal;
}
