body {
  font-family: "Tilda Sans VF", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
  min-height: 100vh;
}

body, #root {
  margin: 0;
  padding: 0;
  /* Optional: ensure the root element takes the full height of the viewport */
  min-height: 100vh; 
  /* Optional: ensure full width */
  width: 100%; 
}

.section-spacer {
  scroll-margin-top: 148px;
}

@font-face {
  font-family: "Tilda Sans VF";
  src: local("Tilda Sans VF"), url("./fonts/TildaSans-VF.woff2") format('woff2');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
